body{
    color: rgb(16, 168, 44);
}
h1,h3 {
    color: darkgrey;
    background-color: lightblue;
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
}